*{
  margin:0;  
}
html{
    background-color: black;
}
#wrap{
    width:100%;
    height:600px;
    display:flex;
    justify-content: space-around;
    margin-top:120px;
    
}
#content1{
    width:600px;
    height: 100%;
}
#content2{
    width: 600px;
    height: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}
#content2>form>h1{
    font-size:50px;
}
#top{
    height:170px;
}
#logoimg{
    width:50%;
    float:left;
}
#text{ 
    height:230px;
    color:white;
    font-size:20px;
}
#text>h1{
    font-size:50px;
}
#bottom{
    width:100%;
    height:200px;
    display:inline-flex;
    justify-content:space-between ;

}
.bottom-con{
    background-color:white;
    flex-basis:180px;
    border-radius:20px;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    align-items: center;
    display:flex;
    justify-content:center;

}
.italic{
    font-style:italic;

}
form{

    text-align:center;
    
}
input{
    border-radius: 50px;
    width:400px;
    height:50px;
    font-weight:bold;
    color:lightgray;
}
.login-box{
    size:100px;
    font-size:20px;
}
#login-button{
    text-align:center;
    background-color: orange;
    width:250px;
    height:50px;
    border-radius:50px;
    font-size:20px;
    color:white;
    font-weight:bold;
}